rawData

data/Input_*
data_cas/Input_*

train/Figs
train/model_para
train/output
train/runs
train/vs_out
train/all_scalars.json

train_cas/Figs
train_cas/model_para
train_cas/output
train_cas/runs
train_cas/vs_out
train_cas/all_scalars.json

__pycache__
__init__.py

surfdisp